<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<ul>
  <li><a href="basic.html">서블릿 basic</a></li>
  <li>서블릿
    <ul>
      <li><a href="/servlet/members/new-form">회원가입</a></li>
      <li><a href="/servlet/members">회원목록</a></li>
    </ul>
  </li>
  <li>JSP
    <ul>
      <li><a
      <li><a
    </ul>
  </li>
  <li>서블릿 MVC
    <ul>
      <li><a
      <li><a
              href="/servlet/members">회원목록</a></li>
      href="/jsp/members/new-form.jsp">회원가입</a></li>
  href="/jsp/members.jsp">회원목록</a></li>
  href="/servlet-mvc/members/new-form">회원가입</a></li>
  href="/servlet-mvc/members">회원목록</a></li>
</ul>
</li>
<li>FrontController - v1
  <ul>
    <li><a
            href="/front-controller/v1/members/new-form">회원가입</a></li>
    <li><a
            href="/front-controller/v1/members">회원목록</a></li>
  </ul>
</li>
<li>FrontController - v2
  <ul>
    <li><a
    <li><a
            href="/front-controller/v2/members/new-form">회원가입</a></li>
    href="/front-controller/v2/members">회원목록</a></li>
</ul>
</li>